.container {
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: #c21b17;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-block-panel {
  margin-bottom: 10px;
  margin-right: 10px;
}

.custom-block-panel {
  margin-bottom: 10px;
}

.custom-block-content-panel {
  padding: 10px;
}

.main-block-header-panel {
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid #c21b17;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
}

.custom-block-header-panel {
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid #c21b17;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
}

.video-panel {
  padding: 10px 60px 10px 60px;
}

.video-panel-img {
  text-align: center;
  width: 100%;
  margin: '0 auto';
  cursor: pointer;
}

.video-panel-img:hover {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1.2;
}

.topic-tree-panel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 400px;
}

.topic-item {
  flex-grow: 1;
  padding: 10px 10px;
}

.main-block-content-panel {
  padding: 10px;
}

.reference-item {
  display: flex;
}

.reference-item-icon {
  color: #c21b17;
  margin-right: 5px;
}

.reference-item-content {
  flex-grow: 1;
}

.user-info-title-panel {
  overflow-x: hidden;
}

.user-info-content-panel {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ultility-content-panel {
  display: flex;
}

.ultility-content-item {
  margin-right: 5px;
  margin-bottom: 10px;
}

.ultility-quantity {
  background-color: #d8d8d8;
  padding: 2px;
  border-radius: 5px;
}
